body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lewy, .prawy{
    background-color: rosybrown;
    color: white;
    width: 30%;
    height: 200px;
    float: left;
}
.srodkowy{
    background-color: rosybrown;
    color: white;
    width: 40%;
    height: 200px;
    text-align: center;
    float: left;
}
.glowny{
    background-color: wheat;
    padding: 50px;
}
.stopka{
    background-color: rosybrown;
    color: white;
    padding: 5px;
    text-align: center;
}
a{
    border: 2px solid darkred;
    background-color: salmon;
    color: darkred;
    padding: 20px;
    line-height: 200px;
}